@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Jost', 'Segoe UI';
    color: rgb(38, 39, 47);
}
/* header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    font-family: 'Lora', 'Segoe UI' !important;
    font-style: italic;
    font-size: 0.8em;
    height: 90px;
    transition: 0.3s ease-in-out;
}
header h1 {
    text-align: center;
    width: 100%;
}
/* all things color mode toggling*/
.toggle {
    margin-top: -0.5em;
}
input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}
label {
	cursor: pointer;
	width: 56px;
	height: 32px;
	background: #e5e5e5;
	display: flex;
	border-radius: 100px;
	position: relative;
}
label:after {
	content: '';
	position: absolute;
	top: 6px;
	left: 5px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}
input:checked + label {
	background: #211f28;
}
input:checked + label::after {
	background: #34323d;
}
input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
} 
img {
    margin-left: 6px;
}
img:first-child {
    margin-right: 0px;
    width: 16px;
}
img:last-child {
    width: 18px;
    margin-right: 8px;
}
.dark-mode {
    color: white;
    background-color: #26242e;
}
@media screen and (min-width: 720px){
    header {
        font-size: 1em;
    }
    label {
        cursor: pointer;
        width: 64px;
        height: 36px;
        background: #e5e5e5;
        display: flex;
        border-radius: 100px;
        position: relative;
    }
    label:after {
        content: '';
        position: absolute;
        top: 6px;
        left: 5px;
        width: 24px;
        height: 24px;
        background: #fff;
        border-radius: 90px;
        transition: 0.3s;
    }
    img:first-child {
        margin-left: 10px;
    }
}